* {
    -webkit-font-smoothing: antialiased;
    color: #8622b9;
}

:root {
    --border-radius: 10px;
}

body, html {
    font-family: sans-serif;
    background: #e2e9f4;
    display: grid;
    height: 100%;
    grid-template: 1fr/100%;
    place-items: center;
}


.Card {
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(-67deg, rgba(200, 216, 231, .7), rgba(255,255,255,.8));
    overflow: hidden;
    box-shadow:
            -2px -2px 6px rgba(255, 255, 255, .6),
            2px 2px 12px #c8d8e7;
    width: 380px;
}

.CardInner {
    padding: 16px 16px;
    background-color: #e2e9f4;
    border-radius: var(--border-radius);
}


header {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 500px;
}

section {
    padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h1, h2 {
    font-weight: bold;
}

span {
    color: #666;
}

footer {
    text-align: center;
}
