<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout_admin" xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div  layout:fragment="content_admin"  class="container-fluid py-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/admin/users/{userId}(userId=${user.user_id})}" class="btn btn-sm btn-info">Details</a>
               <!-- <a th:href="@{/admin/users/{userId}/edit(userId=${user.user_id})}" class="btn btn-sm btn-primary">Edit</a>-->
                <a th:href="@{/admin/delete/{id}(userId=${user.user_id})}" custom:linkMethod="post" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>
